<h1 mat-dialog-title>{{ data?.editingStudent ? 'Editar' : 'Crear nuevo'}} estudiante</h1>

<div matdialog-content class="mx-4">
  <form [formGroup]="studentForm">
    <div class="row">
        <div class="col-6">
          <mat-form-field class="example-form-field w-100">
            <mat-label>Nombre</mat-label>
            <input formControlName="firstName" matInput type="text" />
            <mat-error *ngIf="studentForm.get('firstName')?.hasError('required')">
              Este campo es requerido
            </mat-error>
            <mat-error *ngIf="studentForm.get('firstName')?.hasError('minlength')">
              Debe ingresar al menos 2 caracteres
            </mat-error>
            <mat-error *ngIf="studentForm.get('firstName')?.hasError('maxlength')">
              Debe ingresar menos de 50 caracteres
            </mat-error>
            <mat-error *ngIf="studentForm.get('firstName')?.hasError('pattern')">
              Ha ingresado caracteres incorrectos
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-form-field w-100">
            <mat-label>Apellido</mat-label>
            <input formControlName="lastName" matInput type="text" />
            <mat-error *ngIf="studentForm.get('lastName')?.hasError('required')">
              Este campo es requerido
            </mat-error>
            <mat-error *ngIf="studentForm.get('lastName')?.hasError('minlength')">
              Debe ingresar al menos 2 caracteres
            </mat-error>
            <mat-error *ngIf="studentForm.get('lastName')?.hasError('maxlength')">
              Debe ingresar menos de 50 caracteres
            </mat-error>
            <mat-error *ngIf="studentForm.get('lastName')?.hasError('pattern')">
              Ha ingresado caracteres incorrectos
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="example-form-field w-100">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput type="email" />
            <mat-error *ngIf="studentForm.get('email')?.hasError('required')">
              Este campo es requerido
            </mat-error>
            <mat-error *ngIf="studentForm.get('email')?.hasError('email')">
              El mail es incorrecto
            </mat-error>
          </mat-form-field>
        </div>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="onSave()">Guardar</button>
</div>