<h2 mat-dialog-title>{{ data.name }}</h2>

<div matdialog-content class="mx-4">
  <p>La clase de dibujo técnico tiene como objetivo enseñar a los estudiantes los fundamentos de la representación gráfica en disciplinas como ingeniería y arquitectura. A lo largo del curso, los alumnos aprenderán a utilizar herramientas y normas de dibujo, a realizar proyecciones ortogonales y a acotar correctamente planos. La metodología incluye ejercicios prácticos y el uso de software CAD, fomentando la creatividad y la capacidad de interpretación de planos técnicos. Al finalizar, los estudiantes serán capaces de comunicar ideas y diseños de manera clara y precisa a través del dibujo.</p>
</div>