<!-- TOOLBAR -->
<mat-toolbar class="toolbar">
  <button mat-icon-button (click)="drawer.toggle()" aria-label="Ícono menú de tres líneas horizontales">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Nombre de la Institución</span>
  <span class="default-spacer"></span>
  <button mat-icon-button aria-label="Example icon-button with share icon">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="dashboard-container" autosize>
  <!-- SIDENAV -->
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <mat-nav-list>
      <a routerLink="students" mat-list-item routerLinkActive #studentsLink="routerLinkActive" [activated]="studentsLink.isActive">Estudiantes</a>
      <a routerLink="courses" mat-list-item routerLinkActive #coursesLink="routerLinkActive" [activated]="coursesLink.isActive">Cursos</a>
      <a routerLink="enrollments" mat-list-item routerLinkActive #enrollmentsLink="routerLinkActive" [activated]="enrollmentsLink.isActive">Inscripciones</a>
    </mat-nav-list>
  </mat-drawer>

  <!-- CONTENT -->
  <div class="dashboard-content">
    <router-outlet></router-outlet>
  </div>
  
</mat-drawer-container>  
